<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ICKURL | ICK URL Shortener | Forever free url shortener for your sharing | Made with love by ICKDEV">
    <% if(!OG_TITLE){OG_TITLE = 'ICKURL';} %>
    <meta property="og:title" content="<%= OG_TITLE %> | ICK URL Shortener">
    <% if(!OG_URL){OG_URL = "https://sl.iamickdev.com"} %>
    <meta property="og:url" content="<%= OG_URL%>">
    <% if(!OG_DESC){OG_DESC = 'Forever free url shortener for your sharing | Made with love by ICKDEV'} %>
    <meta property="og:description" content="<%= OG_DESC %>">
    <% if(!OG_IMG){OG_IMG = 'https://cdn.discordapp.com/attachments/885089951207804949/907257498069794856/Ickstaycoding.png'} %>
    <meta property="og:image" content="<%= OG_IMG %>">
    
    <% if(!NOW_TITLE){NOW_TITLE = 'Home'} %>
    <title><%= NOW_TITLE %> | ICKURL | URL Shortener</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/885089951207804949/907257498069794856/Ickstaycoding.png" type="image/x-icon">
    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- import sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- import cloudflare turnstile -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=_turnstileCb" async defer></script>

    <style>
        .dark{
          background-color: #333;
          color:white;  
        }
        .dark tr:nth-child(even){
            background-color: #5c5c5c;
            color:#fff;
        }
        body{
            background-color: #ffffff;
          color:black;  
        }
    </style>
</head>
