<!DOCTYPE html>
<html lang="en">
    <%- include('header', {NOW_TITLE:"VIEW URL", OG_TITLE:"VIEW URL",OG_DESC:"Forever free url shortener for your sharing | Made with love by ICKDEV", OG_URL:"https://sl.iamickdev.com", OG_IMG:"https://cdn.discordapp.com/attachments/885089951207804949/907257498069794856/Ickstaycoding.png" }) %>
<body>
    <style class="dark">
        h1 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) .dark {
            background-color: #5c5c5c;
            color:#fff;
        }
        input[type=submit] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        #add {
            background-color: #008CBA;
        }
        .copy {
            background-color: #36f465;
            border: none;
            color: black;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        #delete {
            background-color: #f44336;
        }
        .headerbar{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        #logout{
            background-color: #f44336;
            border: none;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 30px;
            cursor: pointer;
        }
        
    </style>
    <%- include('header_login', {username:username}) %>
    <div class="headerbar">
        
        <h2>Welcome, <b><%= username %></b></h2>
        <!-- <button id="logout" onclick="logout()">Logout</button> -->
    </div>

    <!-- <form action="/add">
        <input type="submit" id="add" value="Add new url">
    </form> -->
    <table>
        <thead>
            <tr>
                <th>Shorten URL</th>
                <th>Original URL</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Redirect Time</th>
                <th>Clicked</th>
                <th>Ads Time Spend</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < urls.length; i++) { %>
                <tr>
                    <td><a href="/<%= urls[i].shorten_url %>"><%= urls[i].shorten_url %></a></td>
                    <td><%= urls[i].original_url %></td>
                    <td><%= urls[i].title %></td>
                    <td><%= urls[i].desc %></td>
                    <td><img src="<%= urls[i].img %>" alt="urlimg" width="50px" height="50px"></td>
                    <td><%= urls[i].r_time %></td>
                  <% const adTIME = parseFloat((urls[i].adsTime/100)/60).toFixed(2) %>
                    <td><%= isNaN(urls[i].clicked) ? 0 : urls[i].clicked %></td>
                    <td><%= isNaN(adTIME) ? 0 : adTIME %> mins</td>
                    <td><%= new Date(urls[i].create_at).toLocaleString("en-US", {timeZone: "Asia/Bangkok"}) %></td>
                    <td>
                        <button class="copy" id="copy_<%=i%>_<%=urls[i].shorten_url%>" onclick="copy('<%=urls[i].shorten_url%>', 'copy_<%=i%>_<%=urls[i].shorten_url%>')">Copy</button>
                        <form action="/delete" method="post">
                            <input type="hidden" name="shorten_url"  value="<%= urls[i].shorten_url %>">
                            <input type="submit" id="delete" value="Delete">
                        </form>
                    </td>
                </tr>
            <% } %>
    </table>
    <script>
        function logout(){
            window.location.href = "/logout";
        }
        function copy(url, id){
            var copyText = window.location.origin+ "/" + url;
            navigator.clipboard.writeText(copyText);
            console.log(id)
            console.log(copyText);
            //change copy color and text after click
            document.getElementById(id).style.backgroundColor = "#008CBA";
            document.getElementById(id).innerHTML = "Copied";
            //change back after 5 sec
            setTimeout(() => {
                document.getElementById(id).style.backgroundColor = "#36f465";
                document.getElementById(id).innerHTML = "Copy";
            }, 5000);
        }
    </script>
</body>
</html>
