<!DOCTYPE html>
<html lang="en">
<%- include('header', {NOW_TITLE:"View URL"}) %>
<body>
    <style>
        h1 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        input[type=submit] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        #add {
            background-color: #008CBA;
        }
        #copy {
            background-color: #36f465;
            border: none;
            color: black;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        #delete {
            background-color: #f44336;
        }
        .headerbar{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        #logout{
            background-color: #f44336;
            border: none;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 30px;
            cursor: pointer;
        }
        
    </style>
    <div class="headerbar">
        <h2>Welcome, <b><%= username %></b></h2>
        <button id="logout" onclick="logout()">Logout</button>
    </div>

    <form action="/add">
        <input type="submit" id="add" value="Add new url">
    </form>
    <table>
        <thead>
            <tr>
                <th>Shorten URL</th>
                <th>Original URL</th>
                <th>Clicked</th>
                <th>Ads Time Spend</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < urls.length; i++) { %>
                <tr>
                    <td><a href="/<%= urls[i].shorten_url %>"><%= urls[i].shorten_url %></a></td>
                    <td><%= urls[i].original_url %></td>
                  <% const adTIME = parseFloat((urls[i].adsTime/100)/60).toFixed(2) %>
                    <td><%= isNaN(urls[i].clicked) ? 0 : urls[i].clicked %></td>
                    <td><%= isNaN(adTIME) ? 0 : adTIME %> mins</td>
                    <td><%= new Date(urls[i].create_at) %></td>
                    <td>
                        <button id="copy" onclick="copy('<%=urls[i].shorten_url%>')">Copy</button>
                        <form action="/delete" method="post">
                            <input type="hidden" name="shorten_url"  value="<%= urls[i].shorten_url %>">
                            <input type="submit" id="delete" value="Delete">
                        </form>
                    </td>
                </tr>
            <% } %>
    </table>
    <script>
        function logout(){
            window.location.href = "/logout";
        }
        function copy(url){
            var copyText = window.location.origin+ "/" + url;
            navigator.clipboard.writeText(copyText);
            console.log(copyText);
            //change copy color and text after click
            document.getElementById("copy").style.backgroundColor = "#008CBA";
            document.getElementById("copy").innerHTML = "Copied";
            //change back after 5 sec
            setTimeout(() => {
                document.getElementById("copy").style.backgroundColor = "#36f465";
                document.getElementById("copy").innerHTML = "Copy";
            }, 5000);
        }
    </script>
</body>
</html>
